@if (hasAddon()) {
  <ng-template [ngTemplateOutlet]="inputWithAddonInner" />
} @else if (hasAffix()) {
  <ng-template [ngTemplateOutlet]="inputWithAffixInner" />
} @else {
  <ng-template [ngTemplateOutlet]="input" />
}

<ng-template #inputWithAddonInner>
  <span class="ant-input-wrapper ant-input-group">
    @if (hasAddonBefore()) {
      <span class="ant-input-group-addon">
        <ng-content select="[nzInputAddonBefore]">{{ nzAddonBefore() }}</ng-content>
      </span>
    }

    @if (hasAffix()) {
      <ng-template [ngTemplateOutlet]="inputWithAffix" />
    } @else {
      <ng-template [ngTemplateOutlet]="input" />
    }

    @if (hasAddonAfter()) {
      <span class="ant-input-group-addon">
        @if (inputSearchDir) {
          @let nzEnterButton = inputSearchDir.nzEnterButton();
          @let hasEnterButton = inputSearchEnterButton() ?? nzEnterButton !== false;
          <button
            nz-button
            [nzType]="hasEnterButton ? 'primary' : 'default'"
            [nzSize]="size()"
            [nzLoading]="inputSearchDir.nzLoading()"
            type="button"
            class="ant-input-search-button"
            (click)="inputSearchDir.search($event)"
          >
            <ng-content select="[nzInputSearchEnterButton]">
              @if (nzEnterButton && typeof nzEnterButton === 'string') {
                {{ nzEnterButton }}
              } @else {
                <nz-icon nzType="search" nzTheme="outline" />
              }
            </ng-content>
          </button>
        }
        <ng-content select="[nzInputAddonAfter]">{{ nzAddonAfter() }}</ng-content>
      </span>
    }
  </span>
</ng-template>

<ng-template #inputWithAffix>
  <span [class]="affixWrapperClass()">
    <ng-template [ngTemplateOutlet]="inputWithAffixInner" />
  </span>
</ng-template>

<ng-template #inputWithAffixInner>
  @if (hasPrefix()) {
    <span class="ant-input-prefix">
      <ng-content select="[nzInputPrefix]">{{ nzPrefix() }}</ng-content>
    </span>
  }
  <ng-template [ngTemplateOutlet]="input" />
  @if (hasSuffix()) {
    <span class="ant-input-suffix">
      @if (nzAllowClear()) {
        <span
          class="ant-input-clear-icon"
          [class.ant-input-clear-icon-has-suffix]="
            nzSuffixWrapper() || suffix() || hasFeedback() || inputPasswordDir?.nzVisibilityToggle()
          "
          [class.ant-input-clear-icon-hidden]="!inputDir().value() || disabled() || readOnly()"
          role="button"
          tabindex="-1"
          (click)="clear(); inputSearchDir?.search($event, 'clear')"
        >
          <ng-content select="[nzInputClearIcon]">
            <nz-icon nzType="close-circle" nzTheme="fill" />
          </ng-content>
        </span>
      }
      @if (inputPasswordDir && inputPasswordDir.nzVisibilityToggle()) {
        <span class="ant-input-password-icon" role="button" tabindex="-1" (click)="inputPasswordDir.toggleVisible()">
          @if (inputPasswordIconTmpl(); as tmpl) {
            <ng-template
              [ngTemplateOutlet]="tmpl"
              [ngTemplateOutletContext]="{ $implicit: inputPasswordDir.nzVisible() }"
            />
          } @else {
            <nz-icon [nzType]="inputPasswordDir.nzVisible() ? 'eye' : 'eye-invisible'" nzTheme="outline" />
          }
        </span>
      }
      <ng-content select="[nzInputSuffix]">{{ nzSuffixWrapper() }}</ng-content>
      @if (hasFeedback() && status()) {
        <nz-form-item-feedback-icon [status]="status()" />
      }
    </span>
  }
</ng-template>

<ng-template #input>
  <ng-content select="[nz-input]" />
</ng-template>
