<div class="ant-color-picker-format-select">
  <nz-select [formControl]="validateForm.controls.isFormat" nzVariant="borderless" nzSize="small">
    <nz-option nzValue="hex" nzLabel="HEX" />
    <nz-option nzValue="hsb" nzLabel="HSB" />
    <nz-option nzValue="rgb" nzLabel="RGB" />
  </nz-select>
</div>

<div class="ant-color-picker-input">
  @switch (validateForm.controls.isFormat.value) {
    @case ('hex') {
      <div class="ant-color-picker-hex-input">
        <nz-input-wrapper nzPrefix="#">
          <input nz-input nzSize="small" [formControl]="validateForm.controls.hex" />
        </nz-input-wrapper>
      </div>
    }
    @case ('hsb') {
      <div class="ant-color-picker-hsb-input">
        <div class="ant-color-picker-steppers ant-color-picker-hsb-input">
          <nz-input-number
            [formControl]="validateForm.controls.hsbH"
            [nzMin]="0"
            [nzMax]="360"
            [nzStep]="1"
            [nzPrecision]="0"
            nzSize="small"
          />
        </div>
        <div class="ant-color-picker-steppers ant-color-picker-hsb-input">
          <nz-input-number
            [formControl]="validateForm.controls.hsbS"
            [nzMin]="0"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"
            nzSize="small"
          />
        </div>
        <div class="ant-color-picker-steppers ant-color-picker-hsb-input">
          <nz-input-number
            [formControl]="validateForm.controls.hsbB"
            [nzMin]="0"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"
            nzSize="small"
          />
        </div>
      </div>
    }
    @default {
      <div class="ant-color-picker-rgb-input">
        <div class="ant-color-picker-steppers ant-color-picker-rgb-input">
          <nz-input-number
            [formControl]="validateForm.controls.rgbR"
            [nzMin]="0"
            [nzMax]="255"
            [nzStep]="1"
            nzSize="small"
          />
        </div>
        <div class="ant-color-picker-steppers ant-color-picker-rgb-input">
          <nz-input-number
            [formControl]="validateForm.controls.rgbG"
            [nzMin]="0"
            [nzMax]="255"
            [nzStep]="1"
            nzSize="small"
          />
        </div>
        <div class="ant-color-picker-steppers ant-color-picker-rgb-input">
          <nz-input-number
            [formControl]="validateForm.controls.rgbB"
            [nzMin]="0"
            [nzMax]="255"
            [nzStep]="1"
            nzSize="small"
          />
        </div>
      </div>
    }
  }
</div>

@if (!nzDisabledAlpha) {
  <div class="ant-color-picker-steppers ant-color-picker-alpha-input">
    <nz-input-number
      [formControl]="validateForm.controls.roundA"
      [nzMin]="0"
      [nzMax]="100"
      [nzStep]="1"
      [nzFormatter]="formatterPercent"
      [nzParser]="parserPercent"
      nzSize="small"
    />
  </div>
}
