<ng-template>
  <div
    #panel
    class="ant-select-dropdown ant-select-dropdown-placement-bottomLeft"
    [class.ant-select-dropdown-hidden]="!showPanel"
    [class.ant-select-dropdown-rtl]="dir === 'rtl'"
    [class]="nzOverlayClassName"
    [style]="nzOverlayStyle"
    [nzNoAnimation]="noAnimation?.nzNoAnimation?.()"
    @slideMotion
    (@slideMotion.done)="onAnimationEvent($event)"
    [@.disabled]="!!noAnimation?.nzNoAnimation?.()"
  >
    <div class="ant-select-dropdown-content-wrapper">
      <div class="ant-select-dropdown-content">
        <ng-template *ngTemplateOutlet="nzDataSource ? optionsTemplate : contentTemplate"></ng-template>
      </div>
    </div>
  </div>
  <ng-template #contentTemplate>
    <ng-content></ng-content>
  </ng-template>
  <ng-template #optionsTemplate>
    @for (option of normalizedDataSource; track option.value) {
      <nz-auto-option [nzValue]="option.value" [nzLabel]="option.label">
        {{ option.label }}
      </nz-auto-option>
    }
  </ng-template>
</ng-template>
