@if (nzTitle || nzExtra) {
  <div class="ant-descriptions-header">
    @if (nzTitle) {
      <div class="ant-descriptions-title">
        <ng-container *nzStringTemplateOutlet="nzTitle">{{ nzTitle }}</ng-container>
      </div>
    }
    @if (nzExtra) {
      <div class="ant-descriptions-extra">
        <ng-container *nzStringTemplateOutlet="nzExtra">{{ nzExtra }}</ng-container>
      </div>
    }
  </div>
}

<div class="ant-descriptions-view">
  <table>
    <tbody>
      @if (nzLayout === 'horizontal') {
        @for (row of itemMatrix; track row; let i = $index) {
          <tr class="ant-descriptions-row">
            @for (item of row; track item; let isLast = $last) {
              @if (!nzBordered) {
                <td class="ant-descriptions-item" [colSpan]="item.span">
                  <div class="ant-descriptions-item-container">
                    <span class="ant-descriptions-item-label" [class.ant-descriptions-item-no-colon]="!nzColon">
                      <ng-container *nzStringTemplateOutlet="item.title">
                        {{ item.title }}
                      </ng-container>
                    </span>
                    <span class="ant-descriptions-item-content">
                      <ng-template [ngTemplateOutlet]="item.content"></ng-template>
                    </span>
                  </div>
                </td>
              } @else {
                <td class="ant-descriptions-item-label">
                  <ng-container *nzStringTemplateOutlet="item.title">
                    {{ item.title }}
                  </ng-container>
                </td>
                <td class="ant-descriptions-item-content" [colSpan]="item.span * 2 - 1">
                  <ng-template [ngTemplateOutlet]="item.content"></ng-template>
                </td>
              }
            }
          </tr>
        }
      }

      @if (nzLayout === 'vertical') {
        @if (!nzBordered) {
          @for (row of itemMatrix; track row; let i = $index) {
            <tr class="ant-descriptions-row">
              @for (item of row; track item; let isLast = $last) {
                <td class="ant-descriptions-item" [colSpan]="item.span">
                  <div class="ant-descriptions-item-container">
                    <span class="ant-descriptions-item-label" [class.ant-descriptions-item-no-colon]="!nzColon">
                      <ng-container *nzStringTemplateOutlet="item.title">
                        {{ item.title }}
                      </ng-container>
                    </span>
                  </div>
                </td>
              }
            </tr>
            <tr class="ant-descriptions-row">
              @for (item of row; track item; let isLast = $last) {
                <td class="ant-descriptions-item" [colSpan]="item.span">
                  <div class="ant-descriptions-item-container">
                    <span class="ant-descriptions-item-content">
                      <ng-template [ngTemplateOutlet]="item.content" />
                    </span>
                  </div>
                </td>
              }
            </tr>
          }
        } @else {
          @for (row of itemMatrix; track row; let i = $index) {
            <tr class="ant-descriptions-row">
              @for (item of row; track item; let isLast = $last) {
                <td class="ant-descriptions-item-label" [colSpan]="item.span">
                  <ng-container *nzStringTemplateOutlet="item.title">
                    {{ item.title }}
                  </ng-container>
                </td>
              }
            </tr>
            <tr class="ant-descriptions-row">
              @for (item of row; track item; let isLast = $last) {
                <td class="ant-descriptions-item-content" [colSpan]="item.span">
                  <ng-template [ngTemplateOutlet]="item.content" />
                </td>
              }
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
